.wrapper {
    height:max-content;
    margin-bottom: 5rem;
    padding: 0 4rem 0;
}

.heading {
    margin-bottom: 4rem;
}

.description {
    margin-bottom: 2rem;
}

.videos {
    display:flex;
    justify-content: space-between;
}

.video {
    width: 25rem;  

    &__image {
        height: 15rem;
    }
}
