.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0rem 5rem 5rem;
}

.heading {
    margin-bottom: 4rem;
}

.description {
    margin-bottom: 2rem;
}

.videos {
    display:flex;
    justify-content: space-between;

}

.video {
    width: 24rem;  
    transition: box-shadow 0.2s,border-color 0.2s;
    cursor:default;

    &__image {
        height: 15rem;
    }
}

.video:hover{
    box-shadow:none
}

.helper {
    align-self: end;
    margin-top:5rem;
}