body {
  margin: 0;
  font-family: 'Segoe UI', 'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fbfaf9;
  color: #646462;
  line-height: 1.7rem;
  letter-spacing:0.03rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* App */
.App {
  height: max-content;
}


/* Header */
.ant-menu-light.ant-menu-horizontal .ant-menu-submenu::after,
.ant-menu-light.ant-menu-horizontal .ant-menu-item::after {
  inset-inline:unset;
  border: none;
}

.ant-menu-light.ant-menu-horizontal .ant-menu-submenu:hover,
.ant-menu-light.ant-menu-horizontal >.ant-menu-item:hover {
  color: rgb(105, 45, 2);
}

/* World Regions */
.ant-tabs-tab-btn {
  font-size: 1.1rem;
  font-weight:400;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #363635;
}

.ant-tabs .ant-tabs-tab .ant-tabs-tab-btn:hover {
  color: rgb(77, 100, 147)
}


/* Result */
.ant-result .ant-result-title {
  font-size: 1.2rem;
}

/* Loader */

.ant-spin {
  color: #ffa39e
}