
/* App */

.App {
  height: max-content;
}

/* Main */

.main_container {
  display: flex;
  flex-direction: column;
  height: max-content;
}

/* Header */



.ant-menu-light.ant-menu-horizontal .ant-menu-submenu::after,
.ant-menu-light.ant-menu-horizontal .ant-menu-item::after {
  inset-inline:unset;
  border: none;
}

.ant-menu-light.ant-menu-horizontal .ant-menu-submenu:hover,
.ant-menu-light.ant-menu-horizontal >.ant-menu-item:hover {
  color: rgb(105, 45, 2);
}


/* Footer */



/* Greeting */


/* button_detailed */

/* About */





/* PhotoGallery */



/* Video */

/* 

/* World Regions */

.ant-tabs-tab-btn {
  font-size: 1.1rem;
  font-weight:400;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #363635;
}

.ant-tabs .ant-tabs-tab .ant-tabs-tab-btn:hover {
  color: rgb(77, 100, 147)
}
/* Countries */




/* Selection */

