
.wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0rem 3rem 7rem;
    margin: 0;
    height: 100vh;
}

.map {
    width: 90%;
    height: 90%;
    margin-top: 1rem
}

