.wrapper {
    padding: 4rem;
    background: #f9f6f3;
}

.segment {
    margin-bottom: 5rem;
    background-color: #efecec;
    border-radius: 1rem;
    padding: 2rem;
    text-align: justify;


    &_position {
        display: flex;
        justify-content: space-between;
    }

    &__heading {
        color: #474546;;
    }
    
    &__text {
        font-size: 1rem;
        line-height: 1.9rem;
    }
}

.intro {
    &__heading {
        margin: 0;
    }

    &__text {
        width: 90%;
        font-size: 1rem;
        line-height: 1.9rem;
    }
}

.imageCover {
    width: 40%;
}

.imageFacts {
    width: 25%;
    height: 12rem;
    transform: rotate(-30deg);
}

.recomendations {
    &__heading {
        text-decoration: underline;
    }

    &__heading_position {
        margin-top: 4rem;
    }

    &_position {
        display: flex;
    }

    &__text {
        width: 90%;
        line-height: 1.7rem;
        font-size: 1rem;
        line-height: 1.9rem;
    }

    &__destination {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.7rem;
    }
}

.recomendation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    &__text {
        font-style: italic;
    }

    &__image {
        width: 12%;
        height: 9rem;
        border-radius: 50%;
        margin-right: 35rem;
    }
}

.images__image {
    width: 30rem;

    &_small {
        width: 20rem;
    }

    &_normal {
        width: 30rem;
    }

    &_big {
        width: 40rem;
    }
}

